/* 
============
Font
============
*/
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");

/* 
============
Variables
============
*/
:root {
    --clr-dark: #222222;
    --clr-cold-light-grey: #ccd4dc;
    --clr-cold-grey: #7c839c;
    --clr-accent: #49a6e9;
    --clr-white: #fff;
    --clr-gold: #bd9b3b;
    --font: "Commissioner", sans-serif;
    --font-cursive: "Henny Penny", cursive;
    --transition: all 0.3s ease-out;
    --radius: 0.5rem;
    --spacing: 0.2rem;
    --shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
}

/* 
============
Global
============
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 12px;
}

body {
    font-family: var(--font);
    background-color: #f1f5f8;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-dark);
    transition: var(--transition);
}

a:hover {
    color: var(--clr-accent);
}

h1 {
    font-size: 3rem;
}

h4 {
    color: var(--clr-accent);
}

p {
    font-size: 0.875rem;
}

.btn {
    display: inline-block;
    margin: 2rem;
    padding: 0.75rem 1rem;
    background-color: var(--clr-dark);
    color: var(--clr-white);
    border: 3px solid var(--clr-dark);
    border-radius: var(--radius);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: var(--transition);
    letter-spacing: var(--spacing);
}

.btn:hover {
    background-color: transparent;
    color: var(--clr-dark);
}

.underline {
    width: 6rem;
    height: 0.5rem;
    background-color: var(--clr-accent);
    margin: 0.5rem auto;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

video {
    width: 100%;
    display: block;
    object-fit: cover;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1rem;
    }
}

.--section {
    padding: 5rem 0;
}

.--section-centered {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}

/* 
============
Main
============
*/

.--section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.img {
    border-radius: var(--radius);
    transition: var(--transition);
    cursor: pointer;
}

.img:hover {
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

/* 
============
Modal
============
*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.open {
    display: block;
}

button {
    border: none;
    background: transparent;
    color: var(--clr-white);
    font-size: 2.5rem;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 8rem;
    height: 8rem;
}

.modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    max-width: 1170px;
}

.modal__main-content {
    position: relative;
}

.prev-btn,
.next-btn {
    position: absolute;
    width: 15vw;
    height: 100%;
    cursor: pointer;
}

.prev-btn {
    left: -15vw;
}

.next-btn {
    right: -15vw;
}

.modal__img-title {
    margin: 1.5rem;
    text-align: center;
    color: var(--clr-white);
    font-size: 1.5rem;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    .modal__img-title {
        font-size: 2.2rem;
    }
}

.modal__img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    overflow: hidden;
    max-height: 10rem;
}

.modal__img {
    width: 8rem;
    filter: brightness(0.5);
    transition: var(--transition);
    cursor: pointer;
}

.modal__img:hover {
    filter: brightness(1);
}

.selected {
    filter: brightness(1);
}